NODE_ENV=development
PORT=5000

# Choose dialect: 'sqlite' or 'postgres'
DB_DIALECT=postgres

# For PostgreSQL (used when DB_DIALECT=postgres)
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/starter_db

# For SQLite (used when DB_DIALECT=sqlite)
DB_STORAGE=./database.sqlite

# SSL for production PostgreSQL (e.g., Render, Neon)
DB_SSL=false

JWT_SECRET=your_secret_key_here
JWT_EXPIRES_IN=7d
RECAPTCHA_SECRET_KEY=your_secret_key_here
RECAPTCHA_VERIFY_URL=https://www.google.com/recaptcha/api/siteverify
SENTRY_DSN=https://your-dsn@sentry.io/project-id

# AWS S3
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
S3_BUCKET_NAME=your-bucket-name
# Optional CloudFront CDN
CLOUDFRONT_DOMAIN=https://your-cloudfront.net

# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false               # true for 465, false for 587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password
EMAIL_FROM=noreply@yourapp.com
